<<<<<<< HEAD
<h1>Buster's Best Bowling Alley</h1>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO </p>
=======
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>I like Sinatra</h1>
    <h2>Let's build things</h2>
  </body>
</html>
>>>>>>> 5c4aea1ee39b9415891c96c68cfd27d4636832c8
